body {
    font-family: "Segoe UI", "Ubuntu", "Droid Sans", sans-serif;
}

.wrap > .container {
    width: inherit;
    padding: 0;
}

.home-index {
    width: 100%;
}

.cloud {
    background: url("/images/cloud.jpg") no-repeat center;
    height: 710px;
    color: white;
}

.center {
    text-align: center;
}

.center > div {
    margin: auto;
    text-align: left;
}

.home-index > section {
    padding-top: 50px;
}

.home-index > section > div {
    margin-left: 2em;
}

.home-index h2 {
    font-size: 5em;
}

.home-index small {
    margin-top: 5mm;
    display: block;
    color: black;
}

.home-index > section > div {
    line-height: 2.5em;
    width: 500px;
}

.button {
    display: inline-block;
    color: #ffffff;
    background-color: #7bd156;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 19px 56px;
    margin-top: 19px;
    font-size: 19px;
    line-height: 19px;
    border-radius: 38px;
}

.button {
    text-decoration: none;
}

.green {
    background-color: #009963;
    border-color: #009963;
}

.green:hover {
    background-color: transparent;
    color: #009963;
    text-decoration: none;
}

.email-marketing {
    height: 665px;
    background: url("/images/tablet.png") right bottom no-repeat;
}

.pussy {
    height: 840px;
    background: url("/images/pussy.jpg") center no-repeat;
    background-size: contain;
}

.block-table {
    display: table;
}

.block-table > * {
    display: table-row;
}

.block-table > * > * {
    display: table-cell;
}

.row {
    display: table-row;
}

.row > * {
    display: table-cell;
}

section.news > div,
section.rubbish > div {
    width: 80%;
}

.news h3 {
    color: #009963;
    font-weight: bold;
}

.news > div > div:last-child {
    text-align: center;
}

.rubbish {
    background: #009963;
    color: white;
}

.rubbish strong {
    display: inline-block;
    margin-right: 3mm;
}

.rubbish > div > div {
    padding: 1em;
}

.rubbish h2 {
    display: block;
}

#linux {
    display: none;
}

footer {
    display: none;
}

.navbar-brand {
    padding-top: 0;
}

.navbar-brand img {
    display: inline-block;
}

.navbar-brand span {
    color: #009963;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-nav > ul > li > a {
    color: #009963;
}
